/* ScotSport custom CSS
  Want the colour scheme to be blue rather than dark and green links
*/

/*-- scss:defaults --*/
// Make a Scottish theme more blue by default
$blue:         #000099 !default;
$link-color:  $blue !default;

// Slightly smaller
$h1-font-size:                2.0rem !default;
$h2-font-size:                1.5rem !default;
$h3-font-size:                1.2rem !default;

/*-- scss:rules --*/
h1, .h1, h2, .h2 {
  margin-top: 0px;
}

// Reduce the size of the numbers in the valuebox. Make text bold
.quarto-dashboard .bslib-value-box .value-box-value{
  //font-size: clamp(.1em,15cqw,5em);
  font-size: clamp(.1em,1.6em,2em);
  font-weight: bold;
}

.quarto-dashboard .bslib-value-box .value-box-title{
  font-weight: bold;
}

//$bslib-value-box-horizontal-break-point: 1px;

